aws-access-key-id: <YOUR KEY ID>
aws-secret-key: <YOUR SECRET KEY>
aws-kinesis-stream-name: <YOUR STREAM NAME>
vds-source-class: com.informatica.binge.sources.file.BingeFileReader
flight_size: 10
directory: .
filename: out.log
kinesis-parallel-requests: 10
kinesis-partition-key: 2
surf-transforms: com.informatica.surf.transforms.partitionkey.PartitionKeyTransform